body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px; /* 16 * 40px */
    height: 640px; /* 16 * 40px */
    position: relative;
}

.grid-item {
    width: calc(100% / 16); /* Calculate based on grid size */
    height: calc(100% / 16); /* Calculate based on grid size */
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 1s;
}
