body {
    /* 1. Structure and Layout */
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px; /* 16 * 40px */
    height: 640px; /* 16 * 40px */
    background-image: url('./goofy-duck.png'); /* Change to the path of your image */
    background-size: cover; /* Ensure the image covers the entire grid item */
    background-position: center; /* Center the image within the grid item */
}

.grid-item {
    /* 2. Visual Styling */
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 1s;
}
/* 3. Hover and Focus States */
.grid-item.hovered {
    opacity: 0;
}

